@font-face {
	font-family: "icons";
	src: url('./icons.eot?0.33410720984633224');
	src: url('./icons.eot?0.33410720984633224#iefix') format('eot'),
		url('./icons.woff2?0.33410720984633224') format('woff2'),
		url('./icons.woff?0.33410720984633224') format('woff'),
		url('./icons.ttf?0.33410720984633224') format('truetype'),
		url('./icons.svg?0.33410720984633224#icons') format('svg');
}

.icon:before {
	font-family: "icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-down:before {
	content: "\E001";
}

.icon-email:before {
	content: "\E002";
}

.icon-github:before {
	content: "\E003";
}

.icon-zhihu:before {
	content: "\E004";
}
